@import url("https://fonts.googleapis.com/css?family=Audiowide|Karla|Markazi");


/* Global Structural Layouts */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.base-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  gap: 20px;
}

.base-container {
  grid-column-start: 2;
  grid-column-end: 12;
  height: 100%;
}

/* Text Styles */
body {
  font-family: 'Karla', 'Tahoma', 'Verdana', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: 'AudioWide', 'Courier' 'Georgia', 'Times', 'serif';
}

nav ul,
nav a,
nav li {
  list-style-type: none;
  text-decoration: none;
}





.btn {
  color: #FFFFFF;
  padding: 12px 24px;
  background-color: #3E8DE3;
  border: none;
  border-radius: 8px;
  transition: .4s;
  cursor: pointer;
  font-size: 18pt;
  font-weight: 700;
}

.btn:active {
  transform: translate(4px);
  box-shadow: 0px 0px 1px rgba(0,0,0,0,.2);
  color: #04060D;
  background-color: #D3D4D7;
  border-bottom: none;
}

.icon {
  transition: .4s;
  cursor: pointer;
}

.icon:active {
  transform: translate(5px);
  box-shadow: 0px 0px 1px rgba(0,0,0,0,.2);
  border-bottom: none;
  color: #D3D4D7;
}
