.card {
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 480px;
  border-radius: 0px;
  box-shadow: 0px 0px 10px 4px #d3d4d7;
  text-align: center;
  display: grid;
  grid-template-rows: 4fr 1fr;
  justify-content: baseline;
  z-index: 1;
}

.card .card-title {
  padding-top: 3rem;
}

.card h1 {
  color: #ffffff;
  font-size: 35pt;
  font-family: 'AudioWide';
  padding: .5rem;
  background-color: rgba(44, 101, 162, 0.9);
}

.card .link {
  padding-top: 1rem;
}

.card button {
  min-width: 300px;
  width: auto;
}