.experience {
  height: 90vh;
  border-style: solid;
  border-width: 3px;
  border-image: linear-gradient(to left, rgba(0, 0, 0, 1) 1%, rgba(0, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 100%) 
                100% 0 100% 0/4px 0 0 0 stretch;
  position: relative;
  z-index: 1;
  background-color: #143AA2;
}