@import url("https://fonts.googleapis.com/css?family=Audiowide|Karla|Orbitron");

.hero {
  height: 95vh;
  background-image: url('../../../assets/hero-img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding-top: 10px;
  position: relative;
  z-index: 1;
}

.hero .base-container  {
  display: grid;
  grid-template-rows: 4fr 4fr;
  align-items: last baseline;
  text-align: center;  
}

.hero h1 {
  font-size: 60pt;
  font-family: 'Audiowide';
  color: #ffffff;
}

.hero nav {
  display: flex;
  justify-content: space-between;
  font-size: 40pt;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.hero .link {
  display: flex;
  align-items: bottom;
  color: #ffffff;
}

.hero .link:hover {
  text-decoration: underline;
  transform: translate(10px);
}

.hero .arrow {
  font-size: 45pt;
}


